* {
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
 }

body {
     min-height: 100vh;
     background: rgb(27, 140, 192);
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

     }

        section {

            background: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 5px;
            text-align: center;

        }

        p {

           font-size: 100px; 

        }    